.DS_Store
__pycache__/
.idea/
.vscode/
.ssh/
lightning_logs/
data/
data
external_data/
external_data
.jupyter/
output*/
log/
figures/
test.py
pytorchviz/
batches/
.virtual_documents/
*.bak/
results*/
*.bak.*